:root {
  /* COLORS */
  /* https://www.w3.org/TR/css-color-3/#svg-color */
  --text-color: #323436;
  --border-color: #0c8468;
  --bg-color-A: #f0f8ff;
  --bg-color-B: #b9f2ff;
  --bg-color-hover: #f0f8ff;
  --x: #0ea1c2;
  --y: #b8eafd;
  --a1: #9f9f9f;
  --a2: #bababa;
  --b: #ffb62d;
  --c: #fff93f;
  --d: #fffafa;
  --e: #282828; }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.1rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 2rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.3rem;
      --body-font-size: 1rem;
      --small-font-size: .8rem; } }

:root {
  --header-height: 3rem; }
  @media screen and (min-width: 768px) {
    :root {
      --header-height: 4rem; } }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  color: var(--text-color);
  font-size: var(--body-font-size);
  background-color: var(--bg-color-A); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

h3 {
  font-size: var(--h3-font-size); }

.l-container {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto .5rem auto;
  background-image: linear-gradient(20deg, var(--bg-color-B) 50%, transparent 100%); }

.l-complement {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media screen and (min-width: 768px) {
    .l-complement {
      padding-top: 3rem;
      padding-bottom: 5rem; } }

.main-header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
  top: 0; }
  .main-header > * {
    align-items: center;
    border-width: 1px;
    border-color: var(--border-color);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    height: 100%;
    background-color: var(--bg-color-B); }

.main-brand {
  height: calc(var(--header-height) - (var(--header-height)/2));
  font-size: calc(var(--header-height) - (var(--header-height)/2));
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(2.2rem + 0.5rem);
  color: var(--text-color); }
  @media screen and (min-width: 768px) {
    .main-brand {
      padding-right: 0; } }

.main-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  list-style: none; }
  .main-menu__item {
    color: var(--text-color);
    padding: 1rem;
    text-align: center; }
  .main-menu__item:hover {
    background-image: linear-gradient(to right top, var(--bg-color-hover) 0%, var(--bg-color-B) 80%); }
  .main-menu__description {
    display: inline; }
  .main-menu__icon {
    display: none; }
    @media screen and (min-width: 768px) {
      .main-menu__icon {
        display: inline; } }

.main-nav {
  position: absolute;
  width: 80vw;
  height: calc(100vh - var(--header-height) + 1px);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--bg-color-B);
  padding-top: 1rem;
  top: calc(var(--header-height) - 1px);
  left: -80vw;
  transition: left .3s;
  z-index: var(--z-fixed);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px); }
  .main-nav.show {
    left: 0vw; }
  .main-nav__glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-B);
    opacity: 85%;
    z-index: var(--z-back); }
  @media screen and (min-width: 768px) {
    .main-nav {
      position: absolute;
      left: -1px;
      bottom: 0;
      width: calc(2.2rem + (0.5rem * 2) + 1rem);
      padding-top: calc(var(--header-height) + 1.5rem);
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px); }
      .main-nav .main-menu__description {
        display: none; }
      .main-nav .main-menu__icon {
        display: inline; }
      .main-nav.show {
        width: auto; }
        .main-nav.show .main-menu__icon {
          display: none; }
        .main-nav.show .main-menu__description {
          display: inline; } }

/* --------TOGGLE------------ */
.main-menu-toggle {
  width: 2.2rem;
  height: 1.8rem;
  margin-left: 0.5rem;
  position: relative;
  cursor: pointer;
  z-index: calc(var(--z-fixed) + 1); }
  .main-menu-toggle::before, .main-menu-toggle::after {
    content: '';
    display: block; }
  .main-menu-toggle::before, .main-menu-toggle::after, .main-menu-toggle__line {
    width: 100%;
    height: 20%;
    background-color: var(--text-color);
    position: absolute; }
  .main-menu-toggle::before {
    top: 0%; }
  .main-menu-toggle__line {
    top: 50%;
    transform: translateY(-50%); }
  .main-menu-toggle::after {
    bottom: 0%; }
  @media screen and (min-width: 768px) {
    .main-menu-toggle {
      position: absolute;
      left: .5rem;
      bottom: calc(-50% - .5rem); } }

/* --------------------------- */
.main-cotent > * {
  scroll-margin-top: var(--header-height); }

.main-content-first {
  scroll-margin-top: calc(var(--header-height) + 4rem); }

[class*="c-"] > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; }

[class*="c-"] > [class$="__title"]:not(.c-third__article__title) {
  margin-top: 3rem;
  text-align: center; }

.c-first {
  margin-top: var(--header-height);
  padding-top: 4rem;
  text-align: center;
  border-top-style: none; }
  .c-first__image {
    border: 3px solid var(--border-color);
    border-radius: 50%;
    max-width: 12rem;
    margin-bottom: 1rem;
    box-shadow: 0px calc(12rem/3.5) 40px -60px var(--text-color); }
    @media screen and (min-width: 768px) {
      .c-first__image {
        margin-top: 1rem;
        margin-bottom: 2rem; } }
  .c-first__title {
    margin-bottom: .2rem; }
  .c-first__subtitle {
    font-size: var(--h3-font-size); }

.c-second__content {
  margin-top: 1rem; }

.c-second__content > * {
  text-align: center; }

.c-second__list > * {
  text-align: left; }

.c-third__article {
  width: 100%;
  margin-top: 1rem; }

.c-third__article__title {
  font-size: calc(1rem + .2rem);
  font-weight: bold; }

.c-third__article__subtitle {
  opacity: 70%;
  margin-top: -1px;
  margin-bottom: 4px; }

.c-third__article__item {
  list-style-position: inside; }

@media screen and (min-width: 768px) {
  .c-third__article__subtitle {
    margin-top: -2px; } }

.c-fourth > * {
  width: fit-content; }

.c-fourth__article {
  margin-top: 1rem; }

.c-fourth__item {
  padding: .2rem;
  list-style-position: inside;
  list-style-type: circle; }

.c-fifth__content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem; }

.c-fifth > * {
  text-align: center; }

.c-fifth__brand {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 1rem 1rem;
  color: var(--text-color);
  width: 50px; }
  @media screen and (min-width: 768px) {
    .c-fifth__brand {
      margin: 1rem 2rem; } }

.c-fifth__description {
  font-size: var(--small-font-size); }

.main-footer__container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-width: 1px;
  border-color: var(--border-color);
  border-top-style: solid;
  border-right-style: solid;
  justify-content: center;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .main-footer__container {
      padding-top: 2rem;
      padding-bottom: 2rem; } }
