.button {
  cursor: pointer;
  
  & > * {
    display: block;
    font-weight: bold;
  }
  &__simple {
    background-color: var(--bg-color-containerB);
    color: var(--text-color);
    padding: .5rem;
    border-width: .1rem;
    border-style: solid;
    border-color: var(--border-color) var(--border-color) var(--bg-color-hover) var(--bg-color-hover);
    border-radius: .2rem;
  }
  &__simple:hover {
    background-color: var(--bg-color-hover);
  }
}
