.main-header {
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
  top: 0;

  & > * {
    align-items: center;
    border-width: $border-width;
    border-color: var(--border-color);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    height: 100%;
    background-color: var(--bg-color-containerA);
  }
}

.main-brand {
  height: calc(#{$header-height} - (#{$header-height}/2));
  font-size: calc(#{$header-height} - (#{$header-height}/2));
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(#{$toggle-width} + #{$margin-left-toggle});
  color: var(--text-color);

  @include from(m) {
    padding-right: 0;
  }
}